
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}
:host ::ng-deep .p-fieldset{
    font-family: 'FrankRuhlLibre-Medium';
    border-top:solid #383F5B  1px;
    border-bottom: #383F5B solid 1px;
    border-left: #7685C1 solid 1px;
    border-right: #7685C1 solid 1px;
    border-radius: 0px;
    color:#383F5B;
}
:host ::ng-deep .p-fieldset .p-fieldset-legend {
    font-family: 'FrankRuhlLibre-Medium';
    border-top:solid #7685C1  1px;
    border-bottom: #7685C1 solid 1px;
    border-left: #383F5B solid 1px;
    border-right: #383F5B solid 1px;
    border-radius: 0px;
    color:#383F5B;
}
.fieldsets-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.contact-fieldset {
  flex: 1;
  padding: 1rem;
  box-shadow: none;
  border: none;
}

.contact-form {
  width: 100%;
  margin-bottom: 2rem; /* Space between form and footer */
}

:host ::ng-deep .p-field {
  margin-bottom: 1rem;
  color:#383F5B;
  font-family: 'FrankRuhlLibre-Medium';
}

#message.full-width-textarea {
  width: 100%; /* Matches other inputs */
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[pButton] {
  width: 100%;
  background-color:#7685C1;
  border-image: linear-gradient(to right, #383F5B, #7685C1);
  border-image-slice: 1;
  border: 2px solid var(--grad, );
  border-radius: 0px;
  font-family: 'FrankRuhlLibre-Medium';
}

.success-message , .error-message,.error-messages {
  text-align: center;
  padding-bottom: 2rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .fieldsets-row {
    flex-direction: column;
    align-items: center;
  }

  .contact-fieldset {
    width: 100%;
  }

  .contact-form {
    padding: 0;
  }
}
