 <div class="header-img">
    <p class="header-text">SHIURIM</p>
 </div>
 <div class="div_all_shiurim">
 <p-button 
 (onClick)="getAllShiurim()" 
 label="View All Shiurim" 
 severity="secondary" 
 [outlined]="true" 
 class="all-shiurim"  
>
</p-button></div>
 <div class="card-container">
 
   
    <div
      *ngFor="let item of rabbanimWithTopics; let i = index"
      class="card fade-in rebbi-card"
      (click)="navigateToAllShiurim(item.rav.id)">
      <p-card [style]="{ width: '20rem', overflow: 'hidden', height: '30rem' }">
        <ng-template pTemplate="header">
          <img alt="Card" class="w-full" [src]="item.rav.imageUrl" [alt]="item.rav.name" />
        </ng-template>
        <ng-template pTemplate="title">
          {{ item.rav.name }}
        </ng-template>
        <ng-template pTemplate="subtitle">
          {{ item.rav.title }}
        </ng-template>
        <ng-template pTemplate="footer">
          <div *ngIf="item.topics && item.topics.length > 0" class="topics-container scrollable-footer">
            <div *ngFor="let topic of item.topics" class="topic">
              <p-button
                severity="secondary"
                [outlined]="true"
                styleClass="topic-button"
                (click)="navigateToAllShiurim(item.rav.id, topic.id)">
                {{ topic.name }}
              </p-button>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
  
 