<div class="header-img"> 
    <p class="header-text">ABOUT</p>
 </div>

 <div class="container">
    <div class="container-row animated">
    <p-fieldset class="slide-in-left" >
      <p>
        At the turn of the century, the leading Roshei Yeshiva in America saw the need for a Yeshiva in Yerushalayim for American Bochurim to grow in Torah with warmth and individualized attention. With the encouragement and Bracha of Harav Elya Svei, Harav Chaim Epstein, and Harav Yitzchock Feigelstock Zichronam Livracha, the Rosh Yeshiva - Harav Menachem Eichenstein Shlit’a opened Yeshivas Dvar Torah - a Makom Torah where each Talmid would grow to their maximum potential.
      </p>
    </p-fieldset>
    <div class="slide-in-right">
        <p-image src="https://d2r2w1ytriaiek.cloudfront.net/Photos/chavrusa-ry.webp" alt="Image" width="500" [preview]="false" />
    </div>
    </div>
    <div class="container-row animated">
        <div class="slide-in-left">
            <p-image src="https://d2r2w1ytriaiek.cloudfront.net/Photos/chabura-riech2.webp" alt="Image" width="500" [preview]="false" />
        </div>
    <p-fieldset class="slide-in-right">
        <p>
          For twenty-five years, the Rosh Yeshiva has lovingly transmitted the Mesorah he drew from the Gedolim of yesteryear. As a close Talmid of Rav Shach Zt"l and with a personal connection to Rav Shmuel Auerbach Zt”l and Reb Yisroel Elya Weintraub zt”l, the Rosh Yeshiva imbued the Bochurim with the Torah and Yiras Shmayaim he received from the previous generation.
        </p>
      </p-fieldset>
    
    </div>
    <div class="container-row animated">
      <p-fieldset class="slide-in-left">
        <p>
          Many years have passed and with it many stories of success in bringing forth the best in each Bachur. As the years went by, the Yeshiva grew in reputation and in size. Eli Hakohen 36 - the Yeshiva’s beloved home for over 20 years, was no longer suitable. A larger building - a more spacious Bais Medrash, more shiur rooms, and a larger dining room were needed. With much Siyatta Dishmaya, a building was found on one of the most Torahdike streets in Yerushalayim - Rechov Ezras Torah, which was renovated to suit the specific needs of the Yeshiva.
        </p>
      </p-fieldset>
      <div class="slide-in-right">
        <p-image src="https://d2r2w1ytriaiek.cloudfront.net/Photos/chavrusa-klahr.webp" alt="Image" width="500" [preview]="false" />
    </div>
    </div>
    <div class="container-row animated">
        <div class="slide-in-left">
            <p-image src="https://d2r2w1ytriaiek.cloudfront.net/Photos/bm-front.webp" alt="Image" width="500" [preview]="false" />
        </div>
      <p-fieldset class="slide-in-right" >
        <p>
          With the beautiful new Bais Hamedrash recently inaugurated, the sweet sounds of Torah reverberate within its walls and beyond. The many Bochurim and Yungerleit that fill its halls find here not only a welcoming atmosphere to call home, but an authentic and enjoyable connection to a real Torah life. The many Shmuesen, Vaadim, Chaburos, extracurricular incentives, and even Bein Hazemanim learning programs are all uniquely designed to cultivate the precious gems the Yeshiva is known to produce. Enhancing the Yeshiva is an elite kollel of Choshuve Yungerleit who embody true Bnei Torah.
        </p>
      </p-fieldset>
  </div>
</div>

  