
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    text-align: center; 
  }
   .container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8rem; 
    width: 100%;
    margin: 0 auto;
    padding-right:8rem;
    padding-left:8rem;
    padding-top:4rem;
    padding-bottom:4rem;
    text-align: center;
  }
  :host ::ng-deep .p-fieldset {
    font-family: 'FrankRuhlLibre-Medium';
    border-radius: 0;
    border:none;
    font-size: 1.5rem;
    color: #383F5B;
    padding: 0;
    text-align: center; 
  }
  
  :host ::ng-deep .p-fieldset .p-fieldset-content {
    padding: 0rem;
  }
  
  :host ::ng-deep .p-fieldset .p-fieldset-legend {
    display: none !important;
  }
  
  :host ::ng-deep .p-image {
    border-top: solid #383F5B 3px;
    border-bottom: solid #383F5B 3px;
    border-left: solid #7685C1 3px;
    border-right: solid #7685C1 3px;
    border-radius: 0px;
    width: 500px;
    max-width: 500px; 
    height: auto;
    display: block;
    margin: 0 auto;
  }
  @media (max-width: 1200px) {
    .container-row {
      gap: 4rem;
      padding: 3rem;
    }
  }
  
  @media (max-width: 768px) {
    .container-row {
      flex-direction: column; 
      gap: 2rem;
      padding: 1rem;
      justify-content: center; 
      text-align: center; 
    }
  
    .p-image {
      max-width: 100%;
    }
  
    :host ::ng-deep .p-fieldset {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 480px) {
    .container-row {
      gap: 1rem;
      padding: 1rem;
      justify-content: center; 
      text-align: center; 
    }
  
    :host ::ng-deep .p-fieldset {
      font-size: 1rem;
    }
  
    :host ::ng-deep .p-image {
      width: 100%;
      max-width: 100%;
    }
  
    .header-text {
      font-size: 2rem; 
      text-align: center; 
    }
  }

  
  .animated {
    opacity: 0;
    transform: translateY(60px); /* Move down further */
    transition: opacity 1s ease-out, transform 1s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  .animated.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Slide in from left - More movement */
  .slide-in-left {
    opacity: 0;
    transform: translateX(-120px); /* Move from further left */
    transition: opacity 1s ease-out, transform 1s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  .slide-in-left.show {
    opacity: 1;
    transform: translateX(0);
  }
  
  /* Slide in from right - More movement */
  .slide-in-right {
    opacity: 0;
    transform: translateX(120px); /* Move from further right */
    transition: opacity 1s ease-out, transform 1s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  .slide-in-right.show {
    opacity: 1;
    transform: translateX(0);
  }
  
  @media (max-width: 768px) {
    .container-row {
      padding-left: 2rem;
      padding-right: 2rem;
      overflow-x: hidden;
    }
  }