@import 'assets/primeng-custom.css';
.header-img{
background-image: url("https://d2r2w1ytriaiek.cloudfront.net/Photos/bm-front.webp");
background-size: cover; 
background-repeat: no-repeat; 
background-position: center; 
height: 20em;
position: relative;
}
.header-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px); 
  z-index: 1;
}
.header-text{
  text-align: center;
  font-size: 5rem;
  margin:0px;
  font-family: 'FrankRuhlLibre-Medium';
  position: relative;
  z-index: 2;  
  color: white;
  text-align: center;
  padding: 2rem; 
  padding-top:7rem;
}


html, body {
  height: 100%;
  margin: 0;
  display: flex;  
  flex-direction: column;
  font-family: 'FrankRuhlLibre-Light';
}

main {
  justify-content: center;
  display: flex;
  flex-direction:column;
}

footer {
  flex-shrink: 0; 
  margin-top: auto; 
}

.animated {
  animation: fadeInScale 0.8s ease-in-out;
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  opacity: 0;
  animation: slideInLeft 1s ease-in-out forwards;
}

.slide-in-right {
  opacity: 0;
  animation: slideInRight 1s ease-in-out forwards;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(-4px);
  }
}
.pi-arrow-down {
  animation: bounce 1.5s infinite ease-in-out;
}
@keyframes bounceX {
  0%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(8px);
  }
  60% {
    transform: translateX(4px);
  }
}
.pi-arrow-right {
  animation: bounceX 1.5s infinite ease-in-out;
}



@font-face {
  font-family: 'FrankRuhlLibre-Light';
  src: url('/assets/fonts/FrankRuhlLibre-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
   font-display: swap;
}
@font-face {
  font-family: 'FrankRuhlLibre-Medium';
  src: url('/assets/fonts/FrankRuhlLibre-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
   font-display: swap;
}
.p-overlaypanel .p-overlaypanel-content .p-tabmenu {
  width: fit-content !important;
  margin: 0 auto !important;
}
.p-overlaypanel .p-overlaypanel-content .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  background-color: white !important;
  border-top: 1px solid #383F5B !important;
  border-bottom: 1px solid #383F5B !important;
  padding: 1rem !important;
  justify-content: center;
  font-size: 1rem !important;
  min-width: 12rem !important;
  text-align: center;
  font-family: 'FrankRuhlLibre-Light';
  border-radius: 0px;
  transition: background 0.3s ease !important;
}
.p-overlaypanel .p-overlaypanel-content .p-tabmenu .p-tabmenu-nav {
  flex-direction: column !important;
  width:12rem;
}
.p-overlaypanel {
  left: 50% !important;  /* Center horizontally */
  transform: translateX(-50%) !important; /* Adjust so it's centered */
  border-radius: 0px;
  margin-top: 10px; /* Add some space */
}

.p-overlaypanel .p-overlaypanel-content .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  color: #7685C1;
}

/* Link text color */
.p-overlaypanel .p-overlaypanel-content .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  color: #383F5B;
}
@media (max-width: 1424px) {
 .header-img{
  height: 12em;
 }
 .header-text{
  font-size: 4rem;
  padding-top: 4rem;
 }
}