html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
}
footer {
  flex-shrink: 0; /* Prevents footer from shrinking */
  margin-top: auto; /* Ensures footer sticks to the bottom */
}
