<div class="header-vid">
  <video #videoPlayer src="../../../assets/Document from DovyF.mp4" autoplay [volume]="0" loop playsinline></video>

  <div class="controls">

    <p-slider 
    *ngIf="volumeOpen"
      [(ngModel)]="volume" 
      [min]="0"
      [max]="1"
      [step]="0.1"
      orientation="vertical"
      (onChange)="adjustVolume(videoPlayer, $event.value ? $event.value : 0)">
    </p-slider>

    <i (click)="toggleVolume()" [ngClass]="getVolumeIcon()" class="pi volume-icon"></i>
  </div>
</div>



  <div class="container-row">
    <div>
        <p-image src="../../../assets/IMG_2930.JPG" alt="Image" width="500" [preview]="true" />
    </div>
    <p-fieldset  >
        <p>
          At the turn of the century, the leading Roshei Yeshiva in America saw the need for a Yeshiva in Yerushalayim for American Bochurim to grow in Torah with warmth and individualized attention. With the encouragement and Bracha of Harav Elya Svei, Harav Chaim Epstein, and Harav Yitzchock Feigelstock Zichronam Livracha, the Rosh Yeshiva - Harav Menachem Eichenstein Shlit’a opened Yeshivas Dvar Torah - a Makom Torah where each Talmid would grow to their maximum potential.
        </p>
      </p-fieldset>
      <p-button label="Learn more about us" (click)="navigateToAbout()"></p-button>

  </div>
  <div class="container-row">
<app-join-newsletter></app-join-newsletter>
      <p-button label="View Past Newsletters" (click)="navigateToNewsletter()"></p-button>

  </div>
