<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="NLog.MailKit" />
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="File" name="mylogfile"
				fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="Mail" name="email"
				subject="Logger Alert!"
				to="37326053386@mby.co.il"
				from="siteloggermail@gmail.com"
				body="${longdate} - ${level}: ${message}${newline}${exception:format=tostring}"
				smtpUserName="${env:SITE_LOGGER_EMAIL}"
				smtpPassword="${env:SITE_LOGGER_PASSWORD}"
				smtpServer="smtp.gmail.com"
				smtpPort="587"
				enableSsl="true"
				secureSocketOption="Auto"
				timeout="100000" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Info" writeTo="mylogfile" />
		<logger name="*" minlevel="Error" writeTo="email" />
	</rules>
</nlog>
