<div class="header-img">
    <br><br><br> <br><br><br>
    <p class="header-text">APPLY</p>
  </div>
  <div class="contact-container">
  <p-fieldset legend="Contact"  >
    <div class="contact-fieldset">
    <p class="m-0">
      <strong> Rosh Yeshiva:</strong> <br><br>
      +972-2-123-4567<br>
    </p>
    <p class="m-0">
    <strong>Office:</strong><br><br>
      israelyeshiva.org<br>
    </p></div>
  </p-fieldset>
  <!-- <p-fieldset legend="Contact the office" class="contact-fieldset">
    <p class="m-0">
      <strong>Email:</strong><br><br>
      israelyeshiva.org<br>
    </p>
  </p-fieldset> -->
</div>