<div class="header-img">
 
    <p class="header-text">APPLY</p>
  </div>
  <div class="contact-container">
    <p class="apply-text">To apply to Yeshivas Dvar Torah:</p>
  <p-fieldset legend="1:  Contact The Rosh Yeshiva"  >
    <div class="contact-fieldset">
    <p class="m-0">
      <strong> dsl number</strong> - 347-246-5540 
      <br>
     <strong> home number</strong> - 02-537-3896  
      <br>
     <strong> office number</strong> - 02-540-6155   
    </p>
  </div>
  </p-fieldset>
    <p-fieldset legend="2:  Request an application"  >
    <div class="contact-fieldset">
    <p class="m-0">
      <strong> Office Email</strong> <br><br>
      yeshivadvartorah@gmail.com<br>
    </p>
  </div>
  </p-fieldset>
</div>