footer {
    background-color: #383F5B;
    color: #ecf0f1;
    padding: 40px 0;
    text-align: center;
    flex-shrink: 0; 
    margin-top: auto; 

  }
  
  footer .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  footer .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    text-align: left;
    align-items: center;
    text-align: center;
  }
  
  footer .links > div {
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
 
  }
  
  footer .subscribe form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  footer .subscribe input,
  footer .subscribe button {
    padding: 10px;
    border: 4px solid ;
    border-image: linear-gradient(to right, #383F5B, #7685C1);
    border-image-slice: 1;
  }
  
  footer .subscribe input {
    border: 1px solid #7685C1;
  }
  
  footer .subscribe button {
    background-color: #7685C1;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
  }
  
  footer hr {
    border-color: #7685C1;
    margin: 20px 0;
  }
  
  footer .footer-text {
    font-size: 0.9em;
    text-align: center;
  }
  
  footer a {
    color: #ecf0f1;
    text-decoration: underline;
  }
  
  