<footer>
    <div class="content">
        <div class="links">
            <div class="office">
                <h4>Yeshiva Dvar Torah</h4>
                <p><strong>Address:</strong> 16 Ezras Torah St, Jerusalem, Israel</p>
                <p><strong>Phone:</strong> 02-540-6155</p>
                <p><strong>Email:</strong> yeshivadvartorah@gmail.com</p>
            </div>
            <!-- <div>
                <p-image src="../../../assets/logo.svg" alt="Image" width="250" />
            </div> -->
            <div class="office">
                <h4>US Office</h4>
                <p><strong>Address:</strong> p.o.box 13 lakewood NJ 08701</p>
                <p><strong>Phone:</strong> +1 347-943-1111</p>
                <p><strong>Email:</strong> yeshivadvartorah@gmail.com</p>
            </div>
        </div>
        <hr>
        <div class="footer-text">
           <p>&copy; 2025 Yeshiva Dvar Torah | Website by <a href="mailto:faigy2549@gmail.com">F-Stack</a></p>

        </div>
    </div>
  </footer>
