<footer>
    <div class="content">
        <div class="links">
            <div class="office">
                <h4>Yeshiva Dvar Torah</h4>
                <p><strong>Address:</strong> 16 Ezras Torah St, Jerusalem, IL</p>
                <p><strong>Phone:</strong> +972 (0) 50-123-4567</p>
                <p><strong>Email:</strong> ydt@gmail.com</p>
            </div>
            <div class="office">
                <h4>US Office</h4>
                <p><strong>Address:</strong> 123 Main St, New York, NY</p>
                <p><strong>Phone:</strong> +1 (123) 456-7890</p>
                <p><strong>Email:</strong> ydt@gmail.com</p>
            </div>
            <div class="subscribe">
                <h4>Join Our Newsletter Mailing List</h4>
                <form action="/subscribe" method="post">
                    <input type="email" name="email" placeholder="Enter your email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="footer-text">
            <p>&copy; 2025 Yeshiva Dvar Torah | Website by <strong>FD Creations</strong></p>
        </div>
    </div>
  </footer>