
<main>
<router-outlet></router-outlet>
</main>
<footer>
    <div class="content">
        <div class="links">
            <div>
                <h4><a href="/about">About Yeshiva Dvar Torah</a></h4>
            </div>
            <div>
                <h4><a href="/contact">Contact Us</a></h4>
            </div>
            <div class="subscribe">
                <h4>Join Mailing List</h4>
                <form action="/subscribe" method="post">
                    <input type="email" name="email" placeholder="Enter your email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="footer-text">
            <p>&copy; 2024 Yeshiva Dvar Torah | Website by <strong>FD Creations</strong></p>
        </div>
    </div>
</footer>

