<div class="updates-container">
    <p-card>
      <p class="headings">
        UPCOMING EVENTS
      </p>
      <p-dialog 
    [(visible)]="viewImage" 
    [modal]="true" 
    [style]="{ width: '80vw', height: '80vh' }" 
    [dismissableMask]="true"
    [baseZIndex]="10000"
  >
    <div class="dialog-content">
      <img 
        [src]="imageUrl" 
        alt="imageUrl" 
        style="width: 100%; height: 100%; object-fit: contain;"
      />
    </div>
  </p-dialog>
  
      <div class="event-container">
        <p-carousel  
        [value]="events" 
        [numVisible]="3" 
        [numScroll]="1" 
        [circular]="true" 
        [autoplayInterval]="8000"
        [showIndicators]="false">
      
        <ng-template pTemplate="item" let-item>
          <div >
            <!-- Card Header -->
            <div class="header flex items-center gap-4  event-header">
              <!-- Event Name -->
              <div class="flex items-center gap-2">
                <i class="pi pi-calendar text-blue-500"></i>
                <span class="font-bold text-m">{{ item.eventName }}</span>
              </div>
              <!-- Event Location -->
              <div class="flex items-center gap-2">
                <i class="pi pi-map-marker text-red-500"></i>
                <span class="font-bold text-m">{{ item.eventLocation }}</span>
              </div>
              <!-- Event Date -->
              <div class="flex items-center gap-2">
                <i class="pi pi-clock text-green-500"></i>
                <span class="font-bold text-m">{{ item.eventDate | date: 'mediumDate' }}</span>
              </div>
            </div>
      
            <!-- Event Details or Ad -->
            <div class="mb-4">
              <!-- Check if the item has an event ad -->
                <div class="event-image" *ngIf="item.eventAd" (click)="openImage(item.eventAd)">
                  <p-image [src]="item.eventAd" [alt]="item.eventName"  [preview]="false"   />
                </div>
              <!-- Event Details -->
              <div *ngIf="!item.eventAd">
                <p class="event-text">
                  {{ item.eventDetails }}
                </p>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
      
      </div>
    </p-card>
  </div>
   