<div class="updates-container">
    <p-card>
      <p class="headings">
        UPCOMING EVENTS
      </p>
      <p-dialog 
  [(visible)]="viewImage" 
  [modal]="true" 
  [style]="{ height: '100vh' ,width:'60vh' }" 
  [dismissableMask]="true"
  [baseZIndex]="10000"
>
  <div class="dialog-content">
    <img 
      [src]="imageUrl" 
      alt="imageUrl" 
      class="dialog-image"
    />
  </div>
</p-dialog>

  
      <div class="event-container">
      <p-carousel  
  [value]="events" 
  [numVisible]="3" 
  [numScroll]="1" 
  [circular]="true" 
  [autoplayInterval]="8000"
  [showIndicators]="false"
  [responsiveOptions]="[
    { breakpoint: '1024px', numVisible: 2, numScroll: 1 },
    { breakpoint: '768px', numVisible: 1, numScroll: 1 }
  ]"
>
  <ng-template pTemplate="item" let-item>
    <div class="event-card">
      <div class="event-header">
        <div><i class="pi pi-calendar text-white-500"></i> {{ item.eventName }}</div>
        <div><i class="pi pi-map-marker text-white-500"></i> {{ item.eventLocation }}</div>
        <div><i class="pi pi-clock text-white-500"></i> {{ item.eventDate | date: 'mediumDate' }}</div>
      </div>
<br>
      <div class="event-content">
        <div *ngIf="item.eventAd" class="event-image" (click)="openImage(item.eventAd)">
          <p-image [src]="item.eventAd" [alt]="item.eventName" [preview]="false" />
        </div>
        <p *ngIf="!item.eventAd" class="event-text">{{ item.eventDetails }}</p>
      </div>
    </div>
  </ng-template>
</p-carousel>

      </div>
    </p-card>
  </div>
   