
.menu-wrapper {
  background-color: white;
  width: 100%;
  padding:  1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items:center;
}

/* Center align the menubar */
.menubar-section {
  text-align: center;
}

.logo {
  height: 7rem;
  max-height: 7rem;
  width: auto;
  max-width: 100%;
  transition: all 0.3s ease-in-out;
  padding-bottom: 1rem;
  display: block;
}

/* PrimeNG tab menu styling */
:host ::ng-deep .p-tabmenu {
  background-color: transparent;
  border: none;
  padding: 0rem 4rem;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

/* Menu items */
:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  background-color: white;
  border-top: 1px solid #383F5B;
  border-bottom: 1px solid #383F5B;
  padding: 1rem;
  justify-content: center;
  font-size: 1rem;
  min-width: 8rem;
  font-family: 'FrankRuhlLibre-Light';
  border-radius: 0px;
  transition: background 0.3s ease;
}

/* Active link text color */
:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  color: #7685C1;
}

/* Link text color */
:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  color: #383F5B;
}

/* Responsive design */
@media (max-width: 1024px) {
  .logo {
    height: 6rem;
  }
}
/* Tablet View: Reduce padding & font size */
@media (max-width: 1300px) {
  :host ::ng-deep .p-tabmenu {
    padding: 0 2rem !important;
  }

  :host ::ng-deep .p-tabmenu .p-tabmenu-nav {
    flex-wrap: nowrap !important;
    justify-content: space-evenly !important;
  }

  :host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    padding: 1rem 0.8rem !important; /* Reduce padding */
    font-size: 1rem !important; /* Shrink text */
    min-width: auto !important; 
  }
}
/* Mobile view adjustments */
@media (max-width: 768px) {
  .menu-wrapper {
    padding: 10px 0;
    flex-direction: column;
  }

  .logo {
    height: 10rem;
  }
}
/* mobile design */
:host ::ng-deep .p-button {
border: 2px solid var(--grad, );
 border-image: linear-gradient(to right, #383F5B, #7685C1);
 border-image-slice: 1;
 color: #383F5B;
 font-size: 1rem;
 height: auto; 
 background-color: #ffff;
 padding: 0.5rem 1rem; 
 max-width:3rem;
 font-family: 'FrankRuhlLibre-Medium'; 
 }
 
 .p-button:focus {
  box-shadow: none;
  border: 3px solid var(--grad, );
  border-image: linear-gradient(to right, #383F5B, #7685C1);
 border-image-slice: 1;
}
/* PrimeNG overlay panel styling is in styles.css (if not the styles don't affect because the panel is not in the dom yet)*/

/* Smaller screen sizes */
@media (max-width: 480px) {
  .logo {
    height: 8rem;
  }
}
