<div class="menu-wrapper">
    <div class="menubar-section">
        <img class="logo" src="../../../assets/logo with transparent background.png" alt="Logo">
      </div>
    <p-menubar [model]="items">
      <ng-template #item let-item>
        <ng-container>
          <div class="link-container">
            <a [routerLink]="item.route" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{ exact: true }">
           {{ item.label }}
           <p-divider layout="vertical"></p-divider>
         </a>
          </div>
        </ng-container>
        <p-divider />
      </ng-template>
    </p-menubar>
  </div>

  
 