<p-table 
  *ngIf="viewMode === 'full'"
  [value]="filteredShiurim" 
  [responsive]="true" 
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 20, 40]"
>
  <ng-template pTemplate="body" let-shiur let-i="index">
    <tr
      *ngIf="windowWidth > 670"
      class="table-row fade-in-row"
      [style.animation-delay]="i * 0.2 + 's'"
    >
      <td class="td-flex">
        <img
          [src]="'../../../assets/image.png'"
          [alt]="shiur.rav?.name"
          class="profile-img"
        />
        {{ shiur.title }}<br /><br />
        {{ shiur.rav?.name }}<br /><br />
        {{ shiur.date | date: 'mediumDate' }}
      </td>
      <td class="td">{{ shiur.topic?.name }}</td>
      <td class="td-audio">
        <audio controls preload="none" class="audio-player">
          <source src="../../../assets/Chamol Kempeh.mp3" type="audio/mp3" />
        </audio>
      </td>
    </tr>
    <br>
  
    <ng-container *ngIf="windowWidth <= 670">
      <tr class="table-row fade-in-row" [style.animation-delay]="i * 0.2 + 's'">
        <td class="td-flex" >
          <img
            [src]="'../../../assets/image.png'"
            [alt]="shiur.rav?.name"
            class="profile-img"
          />
          {{ shiur.rav?.name }}
          <br>
          {{ shiur.title }}
          <br>
          {{ shiur.date | date: 'mediumDate' }}
        </td>
      </tr>
      <!-- Row 2: Audio -->
      <tr class="audio-row fade-in-row" [style.animation-delay]="i * 0.2 + 's'">
        <td class="td-audio" >
          <audio controls preload="none" class="audio-player">
            <source src="../../../assets/Chamol Kempeh.mp3" type="audio/mp3" />
          </audio>
        </td>
      </tr>
    </ng-container>
  </ng-template>
  
</p-table>

<!-- Grid Layout (Homepage) -->
<div *ngIf="viewMode === 'compact'" class="shiurim-grid">
  <div *ngFor="let shiur of filteredShiurim" class="shiur-card fade-in">
    <div class="shiur-rav-profile">
      <img
          [src]="'../../../assets/image.png'"
          [alt]="shiur.rav?.name"
          class="profile-img"
      />
      <p class="shiur-rav">{{ shiur.rav?.name }}</p>
      </div>
      <div class="shiur-info">
        <div class="shiur-text">
          <div class="shiur-mobile">
          <p class="shiur-title">{{ shiur.title }}</p>
          <p class="shiur-date">{{ shiur.date | date: 'MM/dd/yy' }}</p>
          </div>
          <audio controls preload="none" class="audio-player">
            <source src="../../../assets/Chamol Kempeh.mp3" type="audio/mp3">
        </audio>
        </div>
       
      </div>
  </div>
</div>

