<div class="header-img">
    <br><br><br> <br><br><br>
    <p class="header-text">SHIURIM</p>
 </div>
<div class="card fade-in flex">
   
    <div class="filters">
        <p>Rav</p> 
        <p-divider></p-divider>
        <p-dropdown 
            [options]="ravList" 
            id="ravFilter" 
            placeholder="Filter By Rav" 
            [(ngModel)]="selectedRav" 
            optionLabel="name"
            optionValue="id"
            (onChange)="applyFilters()">
        </p-dropdown>
        
        <p>Topic</p> 
        <p-divider></p-divider>
        <p-dropdown 
            [options]="topicList" 
            id="topicFilter" 
            placeholder="Filter By Topic" 
            [(ngModel)]="selectedTopic" 
            optionLabel="name"
            optionValue="id"
            (onChange)="applyFilters()">
        </p-dropdown>
        

        <p>Year</p> 
        <p-divider></p-divider>
        <p-inputNumber 
            inputId="yearFilter" 
            [(ngModel)]="selectedYear" 
            [min]="2005" 
            [max]="2050" 
            [placeholder]="'Filter by Year'"
            [step]="1" 
            [useGrouping]="false"
            [showButtons]="true" 
            (ngModelChange)="applyFilters()">
        </p-inputNumber>
    </div>
    <p-divider layout="vertical" />
<div class="shiurim-table">

    <input type="text" 
    pInputText 
    id="searchBar" 
    class="search" 
    [(ngModel)]="searchQuery" 
    (ngModelChange)="applyFilters()" 
    placeholder="Search by Title, Topic or Rav"
    >
    <app-shiurim-table [filteredShiurim]="filteredShiurim" [viewMode]="'full'"></app-shiurim-table>


  
</div>

</div>
