<div class="header-img">
  <p class="header-text">HANHALA</p>
</div>

<div *ngIf="rebbeim$ | async as rebbeim;">
  <div class="ry-container">
    <p-fieldset>
      <p >
     For twenty-five years, the Rosh Yeshiva has lovingly transmitted the Mesorah he drew from the Gedolim of yesteryear. As a close talmid of Rav Shach Zt"l and with a personal connection to Rav Shmuel Auerbach Zt”l, and Reb Yisroel Elya Weintraub zt”l, the Rosh Yeshiva imbued the Bochurim with the Torah and Yiras Shmayaim he received from the previous generation.
      </p>
    </p-fieldset>

    <p-card class="ry-card">
      <ng-template pTemplate="header">
        <div class="image-wrapper">
          <ng-container *ngIf="rebbeim.length > 0">
            <img [src]="'https://d2r2w1ytriaiek.cloudfront.net/Photos/roshyeshiva.webp'"
                 [alt]="'R Menachem Eichenstien'"
                 loading="eager" />
          </ng-container>
        </div>
      </ng-template>

      <ng-template pTemplate="title">
      R' Menachem Eichenstien
      </ng-template>

      <ng-template pTemplate="subtitle">
      Rosh Hayeshiva
      </ng-template>
    </p-card>
  </div>

  <p class="joining">
    {{ joiningtext }}
  </p>

  <div class="card-container">
    <div *ngFor="let rav of rebbeim.slice(1)" class="card">
      <p-card [style]="{ width: '20rem', height: '32rem', overflow: 'hidden' }">
        <ng-template pTemplate="header">
          <div class="image-wrapper">
            <img [src]="rav.imageUrl" [alt]="rav.name" loading="eager" />
          </div>
        </ng-template>

        <ng-template pTemplate="title">
          {{ rav.name }}
        </ng-template>

        <ng-template pTemplate="subtitle">
          {{ rav.title }}
        </ng-template>

        <ng-template pTemplate="content">
          <div class="bio-scroll">
            <p class="bio" *ngIf="rav.bio">{{ rav.bio }}</p>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
