 <div class="header-img">
    <br><br><br> <br><br><br>
    <p class="header-text">HANHALA</p>
 </div>

   <div class="ry-container" >
    <p-card class="ry-card" [style]="{ }">
        <ng-template pTemplate="header">
            <img alt="Card" class="w-full"  [src]="rebbeim[0].imageUrl" [alt]="rebbeim[0].imageUrl"/>
        </ng-template>
        <ng-template pTemplate="title">
            {{rebbeim[0].name}}
        </ng-template>
        <ng-template pTemplate="subtitle">
            {{rebbeim[0].title}}
        </ng-template>
        <p class="bio">{{rebbeim[0].bio}}</p>
    </p-card>
    <p-fieldset  >
        <p>
            Joining the R”Y in his sacred task is a supremely devoted and truly unique Hanhalas Hayeshiva.
        </p>
      </p-fieldset>
</div>

<div class="card-container" >
    <div *ngFor="let item of rebbeim.slice(1)" class="card">
        <p-card [style]="{ width: '20rem', overflow: 'hidden' ,height:'30rem'}">
            <ng-template pTemplate="header">
                <img alt="Card"  class="w-full" src="../../../assets/image.png" [alt]="item.name" />
            </ng-template>
            <ng-template pTemplate="title">
                {{ item.name }}
            </ng-template>
            <ng-template pTemplate="subtitle">
                {{ item.title }}
            </ng-template>
            <p class="bio">{{item.bio}}</p>
        </p-card>
    </div>
</div>
