
.newsletter-container {
  display: flex;
  flex-direction: row;
  padding: 2rem 8rem 2rem  8rem; /* 8rem padding on the sides and 2rem padding on top */
  gap: 2rem;
  overflow-x:hidden;
}

 
/* Styling for the p-card container */
:host ::ng-deep .p-card {
  box-shadow: none !important;
  border: 1px solid #7685C1;
  border-radius: 0px;
  background-color: #fafafc;
  font-family: 'FrankRuhlLibre-Medium';
  font-size: 1rem;
  border-top: solid #383F5B 1px;
  border-bottom: #383F5B solid 1px;
  border-left: #7685C1 solid 1px;
  border-right: #7685C1 solid 1px;
  color: #383F5B;
}

/* Button styling */
:host ::ng-deep .p-button {
  border: 2px solid var(--grad, );
  border-image: linear-gradient(to right, #383F5B, #7685C1);
  border-image-slice: 1;
  font-family: 'FrankRuhlLibre-Medium';
  font-size: 1.2rem;
  background-color: #7685C1;
}
:host ::ng-deep .p-multiselect-header {
  display: none;
}
:host ::ng-deep .p-multiselect-header {
    display: none;
    align-items: center;
    justify-content: space-between;
}
:host ::ng-deep .p-button:hover {
  background-color: #d9dceb;
  color: #383F5B;
}
/* Styling for the headings section */
.headings {
  border-top: 1px solid var(--grad, );
  border-bottom: 1px solid var(--grad, );
  border-image: linear-gradient(to right, #383F5B, #7685C1);
  border-image-slice: 1;
  font-family: 'FrankRuhlLibre-Light';
  font-size: 1.5rem;
  text-align: center;
  /* position: sticky; */
  top: 0; /* Adjust this to set the sticky offset from the top */
  z-index: 10; /* Ensures it stays above other content */
  background-color: #fafafc; /* Matches the background to avoid overlap issues */
  padding: 0.3rem 0; /* Adjust padding for consistent spacing */
}

/* Styling for sub-headings section */
.sub-headings {
  font-family: 'FrankRuhlLibre-Light';
  font-size: 1.1rem;
  text-align: center;
  background-color: #fafafc; /* Matches the background to avoid overlap issues */
}

/* Styling for the order list container */
:host ::ng-deep .p-orderlist .p-orderlist-list {
  height: 25.8rem;
  background-color: #fafafc;
  border: none;
  font-family: 'FrankRuhlLibre-Light';
  color: #383F5B;
}
.loading-container{
  height: 25.8rem;
  background-color: #fafafc;
  border: none;
  font-family: 'FrankRuhlLibre-Light';
  color: #383F5B;
}

:host ::ng-deep .p-orderlist .p-orderlist-controls {
  background-color: #fafafc;
  padding: 0;
  width: 0px;
}

:host ::ng-deep .p-orderlist .p-orderlist-filter-container {
  background-color: #fafafc;
  border: none;
}

:host ::ng-deep .p-orderlist .p-orderlist-filter-container .p-orderlist-filter-input {
  border-top: 1px solid var(--grad, );
  border-bottom: 1px solid var(--grad, );
  border-image: linear-gradient(to right, #383F5B, #7685C1);
  border-image-slice: 1;
  font-family: 'FrankRuhlLibre-Light';
  font-size: 1rem;
  color: #383F5B;
}

:host ::ng-deep .p-orderlist .p-orderlist-controls .p-button {
  background-color: #fafafc;
  border: none;
}
:host ::ng-deep .p-progress-spinner{
  text-align: center !important;
  display: flex;
  justify-content: center;
}
:host ::ng-deep .p-progress-spinner-circle {
  stroke:#383F5B !important;
}
.campaign-list {
  flex: 1 1 60%; /* Takes 3/4 of the width */
}

/* Styling for the campaign list scrollbar */
.campaign-list::-webkit-scrollbar {
  width: 8px;
}

/* Styling for the campaign list scrollbar thumb */
.campaign-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* Hover effect for the campaign list scrollbar thumb */
.campaign-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

:host {
  display: block;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
html, body {
  overflow-x: hidden;
  width: 100%;
}

@media (max-width: 1200px) {

  .newsletter-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem 2rem  4rem; /* 8rem padding on the sides and 2rem padding on top */
    gap: 2rem; /* Adds a gap of 4rem between the form and list sections */
    align-items: center;
    justify-content: center;
  }
  
}
  
@media (max-width: 768px) {

  .newsletter-container {
    display: flex;
    flex-direction: column;
    padding:2rem 1.5rem;
    align-items: center;
    justify-content: center;
  }



}