<div class="newsletter-container">
  
    <p-card class="campaign-list h-full">
      <p class="headings">
        Newsletter Archives
      </p>
      <!-- <p-progressSpinner *ngIf="!campaigns || !campaigns.length" aria-label="loading" strokeWidth="6" [style]="{ width: '50px', height: '50px' }"></p-progressSpinner> -->
      <p-orderList
        [value]="campaigns"
        dataKey="id"
        breakpoint="575px"
        scrollHeight="calc(100vh - 100px)"
        [filterBy]="'settings.title,settings.subject_line,send_time'"
        filter
      >
        <ng-template let-campaign let-selected="selected" pTemplate="item">
          <div
            class="flex justify-between items-center border-b pb-2 mb-2 w-full cursor-pointer"
            (click)="viewCampaignContent(campaign.id)"
          >
            <div class="flex-1">
              <span class="font-medium text-lg">{{ campaign.settings.title }}</span>
              <br />
              <small class="text-sm">{{ campaign.settings.subject_line }}</small>
            </div>
            <div class="flex-shrink-0">
              <span class="text-sm font-medium">
                {{ campaign.send_time | date: 'M/d/yyyy' }}
              </span>
            </div>
          </div>
        </ng-template>
      </p-orderList>
    
    </p-card>

    <div class="join-newsletter">
        <p-card>
          <p class="headings"> Join Yeshiva's Newsletter 
          </p>
          <p class="sub-headings">Subscribe to our weekly newsletter, and receive updates, Divrei Torah, and photos. </p>
          <form *ngIf="!formSubmitted" (ngSubmit)="addSubscriber()" #joinForm="ngForm" class="p-fluid">
            <div class="p-field">
              <label for="firstName">First Name</label>
              <input
              id="firstName"
              type="text"
              pInputText
              name="firstName"
              [(ngModel)]="newSubscriber.firstName"
              required
              #firstName="ngModel"
              [ngClass]="{'invalid-field': firstName.touched && firstName.invalid}"
            />
          </div>
            <div class="p-field">
              <label for="lastName">Last Name</label>
              <input
              id="lastName"
              type="text"
              pInputText
              name="lastName"
              [(ngModel)]="newSubscriber.lastName"
              required
              #lastName="ngModel"
              [ngClass]="{'invalid-field': lastName.touched && lastName.invalid}"
            />
            </div>
            <div class="p-field">
              <label for="email">Email</label>
                       
            <input
            id="email"
            type="email"
            pInputText
            name="email"
            [(ngModel)]="newSubscriber.email"
            required
            email
            #email="ngModel"
            [ngClass]="{'invalid-field': email.touched && email.invalid}"
          />
            </div>
    <br><br>
            <!-- Submit Button -->
            <div class="p-field">
              <button
                pButton
                type="submit"
                label="Subscribe"
                class="p-button-success"
                [disabled]="!joinForm.valid"
              ></button>
            </div>
          </form>
    
          <div *ngIf="formSubmitted" class="success-message-container">
            <p-message severity="success" text="You have been added successfully!"></p-message>
          </div>
        </p-card>
      </div>

  </div>
  
  <style>

.newsletter-container {
  display: flex;
  flex-direction: row;
  padding: 2rem 8rem 2rem  8rem; /* 8rem padding on the sides and 2rem padding on top */
  gap: 2rem; /* Adds a gap of 4rem between the form and list sections */
}

.join-newsletter {
  flex: 1 1 25%; /* Takes 1/4 of the width */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Success message container styling */
.success-message-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  margin-top: 1rem;        /* Adds margin-top of 1rem */
  width: 100%;             /* Ensures the container takes full width */
  text-align: center;      /* Ensures the message text is centered */
}

/* Padding for form fields */
.p-field {
  padding: 0.3rem;
}

/* Input field styling */
.p-inputtext {
  border: 1px solid var(--grad, );
  border-image: linear-gradient(to right, #383F5B, #7685C1);
  border-image-slice: 1;
  font-family: 'FrankRuhlLibre-light';
}

/* Styling for the p-card container */
:host ::ng-deep .p-card {
  box-shadow: none !important;
  border: 1px solid #7685C1;
  border-radius: 0px;
  background-color: #fafafc;
  font-family: 'FrankRuhlLibre-Medium';
  font-size: 1rem;
  border-top: solid #383F5B 1px;
  border-bottom: #383F5B solid 1px;
  border-left: #7685C1 solid 1px;
  border-right: #7685C1 solid 1px;
  color: #383F5B;
  min-height: 35rem;
  max-height: 35rem;
}

/* Button styling */
:host ::ng-deep .p-button {
  border: 2px solid var(--grad, );
  border-image: linear-gradient(to right, #383F5B, #7685C1);
  border-image-slice: 1;
  font-family: 'FrankRuhlLibre-Medium';
  font-size: 1.2rem;
  background-color: #7685C1;
}

/* Styling for the headings section */
.headings {
  border-top: 1px solid var(--grad, );
  border-bottom: 1px solid var(--grad, );
  border-image: linear-gradient(to right, #383F5B, #7685C1);
  border-image-slice: 1;
  font-family: 'FrankRuhlLibre-Light';
  font-size: 1.5rem;
  text-align: center;
  position: sticky;
  top: 0; /* Adjust this to set the sticky offset from the top */
  z-index: 10; /* Ensures it stays above other content */
  background-color: #fafafc; /* Matches the background to avoid overlap issues */
  padding: 0.3rem 0; /* Adjust padding for consistent spacing */
}

/* Styling for sub-headings section */
.sub-headings {
  font-family: 'FrankRuhlLibre-Light';
  font-size: 1.1rem;
  text-align: center;
  background-color: #fafafc; /* Matches the background to avoid overlap issues */
}

/* Styling for the order list container */
:host ::ng-deep .p-orderlist .p-orderlist-list {
  height: 20rem;
  background-color: #fafafc;
  border: none;
  font-family: 'FrankRuhlLibre-Light';
  color: #383F5B;
}

:host ::ng-deep .p-orderlist .p-orderlist-controls {
  background-color: #fafafc;
  padding: 0;
  width: 0px;
}

:host ::ng-deep .p-orderlist .p-orderlist-filter-container {
  background-color: #fafafc;
  border: none;
}

:host ::ng-deep .p-orderlist .p-orderlist-filter-container .p-orderlist-filter-input {
  border-top: 1px solid var(--grad, );
  border-bottom: 1px solid var(--grad, );
  border-image: linear-gradient(to right, #383F5B, #7685C1);
  border-image-slice: 1;
  font-family: 'FrankRuhlLibre-Light';
  font-size: 1rem;
  color: #383F5B;
}

:host ::ng-deep .p-orderlist .p-orderlist-controls .p-button {
  background-color: #fafafc;
  border: none;
}

.campaign-list {
  flex: 1 1 60%; /* Takes 3/4 of the width */
}

/* Styling for the campaign list scrollbar */
.campaign-list::-webkit-scrollbar {
  width: 8px;
}

/* Styling for the campaign list scrollbar thumb */
.campaign-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* Hover effect for the campaign list scrollbar thumb */
.campaign-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

  
  </style>