<div class="newsletter-container">
  
    <p-card class="campaign-list h-full">
      <p class="headings">
        Newsletter Archives
      </p>
      <div class="loading-container"  *ngIf="loading">
      <p-progressSpinner 
      />
</div>
      <p-orderList
        [value]="campaigns"
        dataKey="id"
        breakpoint="575px"
        scrollHeight="calc(100vh - 100px)"
        [filterBy]="'settings.title,settings.subject_line,send_time'"
        filter
        *ngIf="!loading"
      >
        <ng-template let-campaign let-selected="selected" pTemplate="item">
          <div
            class="flex justify-between items-center border-b pb-2 mb-2 w-full cursor-pointer"
            (click)="viewCampaignContent(campaign.id)"
          >
            <div class="flex-1">
              <span class="font-medium text-lg">{{ campaign.settings.title }}</span>
              <br />
              <small class="text-sm">{{ campaign.settings.subject_line }}</small>
            </div>
            <div class="flex-shrink-0">
              <span class="text-sm font-medium">
                {{ campaign.send_time | date: 'M/d/yyyy' }}
              </span>
            </div>
          </div>
        </ng-template>
      </p-orderList>
    
    </p-card>

    <div class="join-newsletter">
  <app-join-newsletter></app-join-newsletter>
      </div>

  </div>
  
 